$breakpoint-mobile: 560px;
$breakpoint-tablet: 760px;
$breakpoint-desktop: 12000px;

@import 'partials/_colors.scss';
@import url(https://fonts.bunny.net/css?family=fraunces:300,400,600,800|rock-salt:400);

/* Global Styles ------- */
body {
	padding: 0;
	margin: 0;
	font-family: 'Fraunces', Georgia, 'Times New Roman', Times, serif;
	font-weight: 300;
	//font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	min-height: 100vh; /* Keep footer at the bottom when content is small */
	> footer {
		position: sticky;
		top: 100vh;
	  }

	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-lt;
		color: $winter-day-lt;
		font-weight: 400;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fraunces", serif;
	font-weight: 800;
	color: $winter-night-dk;
	@media (prefers-color-scheme: dark) {
		color: $winter-day-lt;
	}
}
blockquote {
	font-family: "Fraunces", serif;
    background-color: $winter-day-md;
    border-left: 10px solid $frost-ocean;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
	&:before {
		color: $frost-water;
		content: "\201C";
		font-family: Georgia, serif;
		font-weight: bold;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.5em;
	}
	@media (prefers-color-scheme: dark) {
		background-color: $winter-day-dk;
		color: $winter-night-dk;
		border-left: 10px solid $frost-green;
		&:before {
			color: $frost-ice;
		}
	}
}
hr {
    border: 0;
    height: 1px;
    background-color: $winter-day-dk;
	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-dk;
	}
}

header {
	background: $winter-day-md;
	border-bottom: 6px solid $link-hover;
	padding: 2em;

	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-dk;
	}
}

main {
	padding: 2em 1em;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.article-wrapper {
	display: grid;
	padding: 2em 1em;
	justify-content: center;
}
article {
	max-width: $breakpoint-tablet;
}

footer {
	display: flex;
	justify-content: center;
	background: $winter-day-md;
	border-top: 3px solid $link-hover;
	padding: 0 20px;

	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-dk;
	}

	img {
		max-height: 3.5em;
		width: auto;
		border-radius: 100px;
		margin: 0.5em;
	}
	p {
		font-size: 0.8em;
		font-weight: 600;
		padding: 0.5em;
		a {
			color: $link-hover;
			text-decoration: none;
			transition: color 0.3s ease;
			&:hover {
				color: $link;
			}
		}
	}
	#rss {
		a {
		color: $rss;
		transition: color 0.3s ease;
			&:hover {
				color: $rss-hover;
			}
		}
	}
}

/* Homepage Grid ------- */
.columns {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 1em;
	@media screen and (max-width: $breakpoint-mobile) {
		grid-template-columns: 1fr;
	}
}

/* Profile ------- */
.profile {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	@media screen and (max-width: $breakpoint-mobile) {
		flex-flow: row;
		gap: 0 1em;
	}
	img {
		max-width: 100%;
		height: auto;
		border-radius: 100px;
		@media screen and (max-width: $breakpoint-mobile) {
			max-width: 20%;
		}
	}
	.title {
		margin-bottom: 0;
	}
	.mb-username {
		font-weight: 600;
		text-align: center;
		@media screen and (max-width: $breakpoint-mobile) {
			text-align: left;
		}
		a {
			text-decoration: none;
			color: $link-hover;
			@media (prefers-color-scheme: dark) {
				color: $frost-ice;
			}
			&:hover {
				color: $link;
				@media (prefers-color-scheme: dark) {
					color: $frost-water;
				}
			}
		}
	}
	.mb-about {
		line-height: 1.5em;
	}
}

/* Post Styles ------- */
#post-meta {
	display: grid;
	justify-content: center;
}
.dt-published {
	font-weight: 600;
}
.post {
	padding: 0.5em;
	margin: 0.5em 0;
	background-color: #fff;
	border: 1px solid $winter-day-lt;
	border-radius: 0.5em;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
		0px 0px 1px rgba(0, 0, 0, 0.04);

	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-md;
		color: $winter-day-lt;
		border: 1px solid $winter-night-dk;
	}

	img {
		display: flex;
		max-width: 100%;
		height: auto;
		border-radius: 0.3em;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		line-height: 1.5em;
	}
	a {
		color: $link-hover;
		text-decoration: none;
		padding: 1px 2px;
		border-radius: 3px;
		box-shadow: inset 0 0px 0 $link-hover;
		transition: box-shadow 0.3s ease;
		&:hover {
			color: #fff;
			border-radius: 3px;
			box-shadow: inset 0 -45px 0 $link-hover;
			transition: box-shadow 0.3s ease;
		}
	}
	header { /* Prevent article headers from behaving like the navigation */
		background: none;
		border: none;
		padding: 0;
	}
}

/* Replies/Comments ------- */
.comment-header {
	border-top: 1px solid #eee;
}
.comment-header h3 {
	padding-bottom: 8px;
	font-weight: bold;
}
.microblog_post {
	max-width: $breakpoint-tablet;
	padding: 0.5em;
	margin: 0.5em 0;
	background: $winter-day-lt;
	border-radius: 0.5em;
	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-md;
		color: $winter-day-lt;
	}

	a {
		color: $link-hover;
		text-decoration: none;
		padding: 1px 2px;
		border-radius: 3px;
		box-shadow: inset 0 0px 0 $link-hover;
		transition: box-shadow 0.3s ease;
		&:hover {
			color: #fff;
			border-radius: 3px;
			box-shadow: inset 0 -45px 0 $link-hover;
			transition: box-shadow 0.3s ease;
		}
	}
}
.microblog_text { 
	img {
		max-width: 100%;
		height: auto;
		margin: 0.5em 0;
	}
}
.microblog_time {
	font-size: 0.7em;
	padding-top: 10px;
}
.conversation-on-mb {
	background: $winter-day-lt;
	border-radius: 3px;
	padding: 8px 20px;
	color: $link;
	transition: background 0.3s ease;
	text-decoration: none;
	@media (prefers-color-scheme: dark) {
		background-color: $winter-night-dk;
		color: $winter-day-lt;
	}
	&:hover {
		background: $link-hover;
		color: white;
		transition: background 0.3s ease;
	}
}

/* Pagination Links ------- */
.post-nav {
	font-family: "Railway", sans-serif;
    font-weight: 600;
    font-variant: small-caps;

	.prev {
		float: left;
	}
	.next {
		float: right;
	}
	a {
		display: flex;
		background: $winter-day-lt;
		border-radius: 3px;
		padding: 4px 10px;
		color: $link;
		transition: background 0.3s ease;
		text-decoration: none;
			&:hover {
				background: $link-hover;
				color: white;
				transition: background 0.3s ease;
			}
	}
}

/* Column 3 ------- */
.categories {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
	align-content: flex-start;

	h3 {
		width: 100%;
		color: #999;
		@media (prefers-color-scheme: dark) {
			color: $winter-day-md;
		}
	}
	a {
		background: $winter-day-lt;
		border-radius: 3px;
		padding: 8px 20px;
		color: $link;
		transition: background 0.3s ease;
		text-decoration: none;
		@media (prefers-color-scheme: dark) {
			background-color: $winter-night-dk;
			color: $winter-day-lt;
		}
		&:hover {
			background: $link-hover;
			color: white;
			transition: background 0.3s ease;
		}
	}
}

/* Archive ------- */
.archive-wrapper {
	max-width: $breakpoint-tablet;

	p { 
		line-height: 1.5em;
		color: $winter-night-dk;
		@media (prefers-color-scheme: dark) {
			color: $winter-day-dk;
		}
	}
	.u-url {
		color: $link-hover;
		&:hover { color: $link; }
	}
	.archive-date {
		background-color: $winter-day-lt;
		border-radius: 3px;
		padding: 4px;
		color: $link;
		transition: background 0.3s ease;
		text-decoration: none;
		@media (prefers-color-scheme: dark) {
			background-color: $winter-night-dk;
			color: $winter-day-dk;
		}
			&:hover {
				background: $link-hover;
				color: white;
				transition: background 0.3s ease;
			}
	}
	.dt-published {
		display: inline-block;
		min-width: 98px;
		text-align: center;
	}
}
.archive_categories {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 1em;

	p {
		margin: 0;
	}
	a {
		display: flex;
		background: $link-hover;
		border-radius: 3px;
		padding: 8px 20px;
		color: $winter-day-lt;
		transition: background 0.3s ease;
		text-decoration: none;
		&:hover {
			background: $winter-day-lt;
			color: $link;
			transition: background 0.3s ease;
		}
	}
}

/* Navigation ------- */
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	a {
		text-decoration: none;
	}
	.logo {
		color: $link-hover;
		font-family: "Rock Salt", handwriting;
		font-size: 1.5em;
		line-height: 2em;
		margin: 0;
		transition: all 0.3s ease;
		@media (prefers-color-scheme: dark) {
			color: $winter-day-dk;
		}
		&:hover {
			color: $link;
			@media (prefers-color-scheme: dark) {
				color: $link-hover;
			}
		}
		@media screen and (max-width: $breakpoint-mobile) {
			line-height: 0.5em;
		}
	}
	ul {
		display: flex;
		align-self: stretch;
		gap: 1.5em;
		li {
			display: flex;
			font-weight: 600;
			a {
				outline: none;
				color: $link;
				font-size: 1em;
				text-decoration: none;
				letter-spacing: 0.04em;
				transition: all 0.3s ease;
				@media (prefers-color-scheme: dark) {
					color: $frost-ice;
				}
				&:hover {
					color: $link-hover;
					text-decoration: none;
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint-mobile) {
	.nav-container {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background: $winter-night-dk;
		opacity: 0;
		transition: all 0.3s ease;
	}
	.nav-container ul {
		display: grid;
		justify-content: center;
		gap: 2em;
		transform: translateY(10%);
		li {
			font-weight: 800;
			a {
				opacity: 0;
				color: #fff;
				font-size: 2em;
				transform: translateY(-20px);
				transition: all 0.3s ease;
			}
		}
	}
	.nav-open {
		position: fixed;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
		background-color: $winter-day-md;
		@media (prefers-color-scheme: dark) {
			background-color: $winter-night-dk;
		}
		i {
			display: block;
			width: 20px;
			height: 2px;
			background: $winter-night-dk;
			border-radius: 2px;
			margin-left: 14px;
			@media (prefers-color-scheme: dark) {
				background: $winter-day-lt;
			}
			&:nth-child(1) {
				margin-top: 16px;
			}
			&:nth-child(2) {
				margin-top: 4px;
				opacity: 1;
			}
			&:nth-child(3) {
				margin-top: 4px;
			}
		}
	}
}
#nav:checked + .nav-open {
	background: $winter-night-dk;
	transform: rotate(45deg);
	i {
		background: #fff;
		transition: transform 0.2s ease;
		&:nth-child(1) {
			transform: translateY(6px) rotate(180deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			transform: translateY(-6px) rotate(90deg);
		}
	}
}
#nav:checked ~ .nav-container {
	z-index: 9990;
	opacity: 1;
	ul li a {
		opacity: 1;
		transform: translateY(0);
	}
}
.hidden {
	display: none;
}

/* Music - Album Whale feed ------- */
.music {
	max-width: $breakpoint-desktop;
	.rss-title { display: none; }
	img { 
		aspect-ratio: 1 / 1;
		padding-top: 0;
		padding-bottom: 4px;
		order: 1;
	}
	a {
		order: 2;
		grid-template-rows: repeat(auto-fit, minmax(4em, 1fr));
		padding: 2px;
		transition: color 0.3s ease !important;
		box-shadow: none !important;
		text-decoration: none;
		font-weight: 600;
		color: $winter-night-dk;
		@media (prefers-color-scheme: dark) {
			color: $winter-day-dk;
		}
		&:hover {
			color: $link-hover;
			transition: color 0.3s ease !important;
			box-shadow: none !important;
		}
	}
	/*a {
		order: 2;
		grid-template-rows: repeat(auto-fit, minmax(4em, 1fr));
		border-radius: 3px;
		padding: 4px 10px;
		transition: background 0.3s ease !important;
		box-shadow: none !important;
		text-decoration: none;
		font-weight: 600;
		color: $winter-night-dk;
		@media (prefers-color-scheme: dark) {
			color: $winter-day-dk;
		}
		&:hover {
			background: $link-hover;
			color: $winter-day-lt;
			transition: background 0.3s ease !important;
			box-shadow: none !important;
		}
	}*/
	p {
		order: 3;
		line-height: 1.2em;
	}
	.rss-box-music ul {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
		padding-left: 0 !important;
		place-items: center;

		.rss-item { 
			//display: grid;
		
			h2, h3 { display: none; }
		}
	}
	.rss-box-music li {
		display: flex;
	}
}

/* Search field width fix ------- */
input#input_search.field {
	width: 550px !important;
}
	@media screen and (max-width: $breakpoint-mobile) {
		input#input_search.field {
		width: 350px !important;
	}
}


/* Photos Grid ------- */
.photos-grid {
	
	img {
		border-radius: 5px;
	}
}