/* Background Colors ------- */

// Winter Day
$winter-day-dk: #D8DEE9;
$winter-day-md: #E5E9F0;
$winter-day-lt: #ECEFF4;

// Winter Night
$winter-night-dk: #2E3440;
$winter-night-md: #434C5E;
$winter-night-lt: #4C566A;

/* Accent Colors ------- */

// Frost
$frost-green: #8FBCBB;
$frost-ice: #88C0D0;
$frost-water: #81A1C1;
$frost-ocean: #5E81AC;

// Fall
$fall-red: #BF616A;
$fall-orange: #D08770;
$fall-yellow: #EBCB8B;
$fall-green: #A3BE8C;
$fall-purple: #B48EAD;

/* Colors ------- */
$bg-dark: #2E3440;
$bg-light: #E5E9F0;
$link: #1f2227;
$link-hover: dodgerblue;
$rss: chocolate;
$rss-hover: orange;