<footer>
	<a href="https://micro.blog/{{ .Site.Author.username }}">
		<img class="u-photo avatar" src="{{ .Site.Author.avatar }}" width="96" height="96">
	  </a>
	<p>Designed by <a href="/colophon">Me</a><br>Powered by <a href="https://micro.blog/{{ .Site.Author.username }}" rel="me">Micro.blog</a></p>
	<p id="rss"><a href="/feed.xml">RSS</a> &bull; <a href="/feed.json">JSON</a></p>

	<!-- Analytics via GoatCounter -->
	<script data-goatcounter="https://gregmoore.goatcounter.com/count"
	async src="https://gc.zgo.at/count.js"></script>
</footer>